<a href="https://colab.research.google.com/github/Jsoyoung/mulcamp34/blob/main/pandas_%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0_240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Google Colab과 Google Drive 연동
- 인증 확인 절차

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 데이터 불러오기

In [ ]:
import pandas as pd

DATA_PATH = '/content/drive/MyDrive/Colab Notebooks/멀티캠퍼스34/playground-series-s4e1/'

# 폴더 경로를 그냥 복사붙여넣기 하면 /content/drive/MyDrive/Colab Notebooks/멀티캠퍼스34/playground-series-s4e1 이렇게 나오는데, 끝에 /를 붙여주어야 한다.

train = pd.read_csv(DATA_PATH + 'train.csv')
train

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165029,165029,15667085,Meng,667,Spain,Female,33.0,2,0.00,1,1.0,1.0,131834.75,0
165030,165030,15665521,Okechukwu,792,France,Male,35.0,3,0.00,1,0.0,0.0,131834.45,0
165031,165031,15664752,Hsia,565,France,Male,31.0,5,0.00,1,1.0,1.0,127429.56,0
165032,165032,15689614,Hsiung,554,Spain,Female,30.0,7,161533.00,1,0.0,1.0,71173.03,0
165033,165033,15732798,Ulyanov,850,France,Male,31.0,1,0.00,1,1.0,0.0,61581.79,1

- 파일 내보내기
- 컬럼 임의로 몇 개 선정 후, playground에 csv로 내보내기 하세요
  + 파일명 : result.csv

In [ ]:
result = train.loc[:, ['Gender', 'Age']]
result.to_csv(DATA_PATH + "result3.csv", index=False)

## 데이터 불러오기

In [ ]:
titanic = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic["Name"].str.lower()   # str.lower() : 문자열 열의 모든 문자를 소문자로 변환

0                                braund, mr. owen harris
1      cumings, mrs. john bradley (florence briggs th...
2                                 heikkinen, miss. laina
3           futrelle, mrs. jacques heath (lily may peel)
4                               allen, mr. william henry
                             ...
886                                montvila, rev. juozas
887                         graham, miss. margaret edith
888             johnston, miss. catherine helen "carrie"
889                                behr, mr. karl howell
890                                  dooley, mr. patrick
Name: Name, Length: 891, dtype: object

In [ ]:
# 쉼표 이전의 값 추출하기

titanic["Name"].str.split(",")  # str.split() : 문자열을 특정 구분자 기준으로 나누는 문자열 메서드
                                # 쉼표를 기준으로 나눔

0                             [Braund,  Mr. Owen Harris]
1      [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                              [Heikkinen,  Miss. Laina]
3        [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                            [Allen,  Mr. William Henry]
                             ...
886                             [Montvila,  Rev. Juozas]
887                      [Graham,  Miss. Margaret Edith]
888          [Johnston,  Miss. Catherine Helen "Carrie"]
889                             [Behr,  Mr. Karl Howell]
890                               [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [ ]:
titanic["Surname"] = titanic["Name"].str.split(",").str.get(0)  # str.get(0) : 각 문자열에서 첫 번째 문자 가져오기
titanic["Surname"]

0         Braund
1        Cumings
2      Heikkinen
3       Futrelle
4          Allen
         ...
886     Montvila
887       Graham
888     Johnston
889         Behr
890       Dooley
Name: Surname, Length: 891, dtype: object

In [ ]:
titanic["Name"].str.contains("Countess")  # str.contains() : 특정 문자가 포함되어 있는지에 관한 여부를 출력

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Name, Length: 891, dtype: bool

In [ ]:
titanic[titanic["Name"].str.contains("Countess")]  # true인 데이터값만 출력

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5,B77,S,Rothes

In [ ]:
# 가장 긴 문자열 출력
titanic["Name"].str.len()   # str.len() : 각 문자열 길이 반환

0      23
1      51
2      22
3      44
4      24
       ..
886    21
887    28
888    40
889    21
890    19
Name: Name, Length: 891, dtype: int64

In [ ]:
titanic["Name"].str.len().idxmax()   # idxmax() : 데이터 열에서 최대값을 갖는 인덱스를 반환

307

In [ ]:
titanic.loc[titanic["Name"].str.len().idxmax(),"Name"]

'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'

In [ ]:
titanic["Sex_short"] = titanic["Sex"].replace({"male" : "M", "female" : "F"})  # replace : 데이터의 값을 일괄적으로 대체, 교체
titanic["Sex_short"]

0      M
1      F
2      F
3      F
4      M
      ..
886    M
887    F
888    F
889    M
890    M
Name: Sex_short, Length: 891, dtype: object